* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-family: inherit;
    font-weight: normal;
}

ul, ol {
    list-style: none;
}

button, input, select, textarea {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
}
