body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F3F3F3;
    max-width: 100%;
}

.container {
    width: 1450px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    background: linear-gradient(to left, #3686DA, #4C53D6);
    border-radius: 34px;
    padding: 40px 255px;
    margin-top: 40px;
}

.logo-section {
    display: flex;
    justify-content: center;
}

.profile {
    font-weight: 700;
    font-size: 24px;
    color: #FAEBFF;
}

.name {
    color: white;
    font-weight: 700 !important;
    font-size: 88px;
    display: flex;
    flex-direction: column;
}
.first-name {
    margin-top: -28px;
}

.description {
    font-size: 18px;
    font-weight: 500;
    color: white
}

.avatar img {
    margin-right: 40px;
}
.adapted {
    display: flex;
    justify-content: space-between;
}

.btn-block {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn {
    border: none;
    outline: none;
    border-radius: 27px;
    padding: 18px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.btn span {
    margin-right: 6px;
}

.btn img {
    width: 12px;
    height: 12px;
}

.btn-common {
    color: #426CD9;
    background: white;
}

.btn-common:hover {
    color: white;
    background: linear-gradient(to right, #FD5C33 0%, #FF5033 100%, #FC5F33 100%);
}

.btn-common:active {
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5);
    background: #F04B26;
}

.btn-portfolio {
    color: white;
    background: linear-gradient(to right, #FD5C33 0%, #FF5033 100%, #FC5F33 100%);
}
.btn-portfolio:hover {
    background: linear-gradient(to bottom, #FD5C33 0%, #FF7058 50%, #FF9577 100%);
}
.btn-portfolio:active {
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5);
    background: #F04B26;
}
.btn-play {
    background: #3B7BDA;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    display: flex;justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 12;
    top: 40%;
    left: 44%
}
.btn-play:hover {
    background: #5F9FFF;
}
.btn-play:active {
    background: #3B7BDA;
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5);
}
.btn-play img {
    width: 38px;
    height: 38px;
}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
.portfolio .title {
    font-weight: 700;
    font-size: 68px;
    margin: 40px 0 30px;
}
.content {
    position: relative;
    padding-bottom: 40px;
}
.to-top {
    position: fixed;
    z-index: 10;
    right: 20px;
    bottom: 30px;
    border-radius: 50%;
    width: 76px;
    font-size: 40px;
    color: white;
    background: linear-gradient(to right, #FD5C33 0%, #FF5033 100%, #FC5F33 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.to-top:hover {
    color: white;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}
.to-top:active {
    color: white;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}
.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card {
    margin: 10px;
    width: 463px;
    height: 350px;
    position: relative;
    border-radius: 26px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
iframe {
    width: 400px;
    height: 270px;
}
.card img {
    height: 320px;
    border-radius: 26px;
}
.card:hover {
    transform: scale(1.05)
}

.card-name {
    padding: 0 30px 30px;
    font-size: 18px;
    font-weight: 700;
    margin-top: -20px;
}
.card-name-video {
    padding: 10px 30px 30px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: -20px;
}

.props-overlay {
    display: none;
    width: 100%;
    min-height: 100vh;
    height: 1500px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 20;
    top: 0;
}

.props-overlay i {
    position: absolute;
    z-index: 40;
    right: 22%;
    top: 12px;
}

.props-overlay img {
    position: absolute;
    z-index: 30;
    width: 800px;
    max-width: 80%;
    min-height: 96%;
    height: 1460px;
    top: 30px;
    right: 25%;
}
.fa-close {
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .first-name {
        margin-top: -8px;
    }
    .container {
        width: 98%;
    }
    .cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card {
        width: 340px;
        max-width: 100%;
    }
    .card img {
        width: 100%;
    }
    .card iframe {
        padding: 20px 0 28px 0;
        width: 300px;
        max-width: 100%;
        height: 320px;
    }
    .profile {
        font-size: 16px;
        margin-top: 20px;
    }
    .logo-section {
        flex-direction: column;
        align-items: center;
    }
    .name {
        font-size: 28px;
        margin: 15px 0 20px;
    }
    .wrap-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description {
        text-align: center;
        font-size: 14px;
    }
    .avatar img {
        margin-right: 0;
    }
    .telegram, .linkedin {
        display: none;
    }
    .btn-block {
        flex-direction: column;
        align-items: center;
        margin: 20px 0 40px
    }
    .btn {
        padding: 12px 24px;
    }
    .main {
        padding: 20px 15px;
        width: 340px;
        max-width: 100%;
        margin-top: 0;
    }
    .to-top {
        right: 5px;
        bottom: 5px;
        width: 65px;
    }
    .portfolio {
        width: 98%;
    }
    .portfolio .title {
        font-size: 28px;
    }
    .props-overlay img {
        width: 340px;
        max-width: 80%;
        right: 9%;
        height: 400px;
    }
    .props-overlay {
        background: none;
        height: 400px;
        margin-top: 15rem;
    }
    .props-overlay i {
        right: 7%;
        top: 3px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1023px) {
    .first-name {
        margin-top: -8px;
    }
    .container {
        width: 98%;
    }
    .cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card {
        width: 540px;
        max-width: 100%;
    }
    .card img {
        width: 100%;
    }
    .card iframe {
        padding: 20px 0 28px 0;
        width: 500px;
        max-width: 100%;
        height: 320px;
    }
    .profile {
        font-size: 16px;
        margin-top: 20px;
    }
    .logo-section {
        flex-direction: column;
        align-items: center;
    }
    .name {
        font-size: 28px;
        margin: 15px 0 20px;
    }
    .wrap-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description {
        text-align: center;
        font-size: 14px;
    }
    .avatar img {
        margin-right: 0;
    }
    .telegram, .linkedin {
        display: none;
    }
    .btn-block {
        flex-direction: column;
        align-items: center;
        margin: 20px 0 40px
    }
    .btn {
        padding: 12px 24px;
    }
    .main {
        padding: 20px 15px;
        width: 540px;
        max-width: 100%;
        margin-top: 0;
    }
    .to-top {
        right: 5px;
        bottom: 5px;
        width: 65px;
    }
    .portfolio {
        width: 98%;
    }
    .portfolio .title {
        font-size: 28px;
    }
    .props-overlay img {
        width: 540px;
        max-width: 80%;
        right: 15%;
        height: 800px;
    }
    .props-overlay {
        background: none;
        height: 800px;
        margin-top: 15rem;
    }
    .props-overlay i {
        right: 17%;
        top: 0;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .logo-section {
        flex-direction: column;
        align-items: center;
    }
    .name {
        font-size: 28px;
        margin: 15px 0 20px;
    }
    .first-name {
        margin-top: -5px;
    }
    .wrap-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description {
        text-align: center;
        font-size: 14px;
    }
    .avatar img {
        margin-right: 0;
    }
    .telegram, .linkedin {
        display: none;
    }
    .btn-block {
        flex-direction: column;
        align-items: center;
        margin: 20px 0 40px
    }
    .btn {
        padding: 17px 24px;
    }
    .main {
        padding: 20px 15px;
        width: 840px;
        max-width: 100%;
        margin-top: 0;
    }
    .props-overlay img {
        width: 840px;
        max-width: 80%;
        right: 18%;
        height: 800px;
    }
    .props-overlay {
        background: none;
        height: 800px;
        margin-top: 15rem;
    }
    .cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card {
        width: 840px;
        height: 460px;
        max-width: 100%;
    }
    .card img {
        width: 100%;
        height: 420px;
    }
    .card iframe {
        padding: 20px 0 28px 0;
        width: 800px;
        max-width: 100%;
        height: 320px;
    }
}

